
body{
    overflow-x: hidden;
}

.backgrnd{
    overflow: hidden;
    background-color: #FFF7E9;
    font-family: "Courier New";
}

.backgrnddev{

    background-color: #FFF7E9;
    font-family: "Courier New";

}

.backgrndmusic{
    background-color: #090909;
    color: white;
    font-family: Bahnschrift;
}

.musictext{
    font-weight: lighter;
}



.backgrndstart{

    height: 100vh;
    margin: 0;
    z-index: 1;

}

.image{
    width: 25vmin;
    position: absolute;
    transform: translate(-50%,-50%);
}

.image[data-status="inactive"]{
    display: none;
}
.image[data-status="active"]{
    display: block;
}

.butao{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    background-color: #FFE0AA;
    border: none;
    color: #090909;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 7px;
    transition: all 0.2s ease-out;
}

.butao:hover {
    background-color: #FCCE7E;
    transform: translate(-50%,-65%);
    box-shadow: 0 14px 32px 0 rgba(0, 0, 0, 0.3);
}

.full-web{
    display: none;
}

.text{
    background: url('../assets/giphy2.gif');
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 60px;
    font-weight: bold;
    font-family: Bahnschrift !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.2s ease-out;

}

.text:hover{
    transform: translate(-50%,-65%);
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}
.centered {
    text-align: center;
}

.left{
    text-align: center;
    float:left !important;
    width: 50% !important;
    background-color: #090909;
    height: 100vh;
    left: 0;
}
.right {
    float: right;
    right: 0;
}

.blink {
    animation: blink-animation 3s steps(3, start) infinite;
    -webkit-animation: blink-animation 3s steps(3, start) infinite;
    font-weight: bold;

}

.reff{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none !important;
    color: #1e1e1e;
    transition: all 0.2s ease-out;
}

.reff:hover {
    transform: translate(-50%,-65%);
    color: green;
    text-decoration: none !important;
    cursor: pointer;
}
@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

.videoplayer{
    max-height: 450px;
    width: 100%;
}

.end{
    position: absolute;
    bottom: 0;
    font-weight: lighter;
    font-size: small;
}

.titulo{
    font-weight: lighter;
    font-size: small;
}

.paddings{
    padding-top:10% ;
    padding-bottom:10% ;
}


.blob {
    position: absolute;
    top: 0;
    left: 0;
    fill: #8d3131;
    width: 50vmax;
    z-index: -1;
    animation: move 10s ease-in-out infinite;
    transform-origin: 50% 50%;
}

@keyframes move {
    0%   { transform: scale(1)   translate(10px, -30px); }
    38%  { transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg); }
    40%  { transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg); }
    78%  { transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg); }
    80%  { transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg); }
    100% { transform: scale(1)   translate(10px, -30px); }
}

.bg2{
    background: #ffeec2;
    color: black;
}

.imagemm:hover{
    border: solid #574c25;
    border-width: 0 2px;
    opacity: 0.8;
}

.linktext{
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.linktext:hover{
    color: #383862;
    text-decoration: none;

}

.seta{
    position: absolute;
    transition: all 0.2s ease-out;
}

.seta:hover{
    transform: translateX(-10px)
}

.seta2{
    fill: #8d3131;
    position: absolute;
    transition: all 0.2s ease-out;
}

.seta2:hover{
    transform: translateX(-10px)
}