

.backgrnd{
    overflow: hidden;
    background-color: #FFF7E9;
    font-family: "Courier New";
}

.backgrnddev{

    background-color: #FFF7E9;
    font-family: "Courier New";

}

.backgrndmusic{
    background-color: #1b1e21;
    color: white;
    font-family: Bahnschrift;
}

.musictext{
    font-weight: lighter;
}



.backgrndstart{

    height: 100vh;
    margin: 0;
    z-index: 1;

}

.image{
    width: 25vmin;
    position: absolute;
    transform: translate(-50%,-50%);
}

.image[data-status="inactive"]{
    display: none;
}
.image[data-status="active"]{
    display: block;
}

.butao{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    background-color: #FFE0AA;
    border: none;
    color: #1b1e21;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 7px;
    transition: all 0.2s ease-out;
}

.butao:hover {
    background-color: #FCCE7E;
    transform: translate(-50%,-65%);
    box-shadow: 0 14px 32px 0 rgba(0, 0, 0, 0.3);
}

.full-web{
    display: none;
}

.text{
    background: url('../assets/giphy2.gif');
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 60px;
    font-weight: bold;
    font-family: Bahnschrift !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.2s ease-out;

}

.text:hover{
    transform: translate(-50%,-65%);
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}
.centered {
    text-align: center;
}

.left{
    text-align: center;
    float:left !important;
    width: 50% !important;
    background-color: #1e1e1e;
    height: 100vh;
    left: 0;
}
.right {
    float: right;
    right: 0;
}

.blink {
    animation: blink-animation 3s steps(3, start) infinite;
    -webkit-animation: blink-animation 3s steps(3, start) infinite;
    font-weight: bold;

}

.reff{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none !important;
    color: #1e1e1e;
    transition: all 0.2s ease-out;
}

.reff:hover {
    transform: translate(-50%,-65%);
    color: green;
    text-decoration: none !important;
    cursor: pointer;
}
@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}


